STRINGTABLE
{
1,   "Поиск ресурса"
2,   "Соединение"
3,   "Перенаправление"
4,   "Начало загрузки"
5,   "Загрузка"
6,   "Завершение загрузки"
7,   "Начало загрузки компонентов"
8,   "INSTALLINGCOMPONENTS"
9,   "ENDDOWNLOADCOMPONENTS"
10,  "USINGCACHEDCOPY"
11,  "Отправка запроса"
12,  "CLASSIDAVAILABLE"
13,  "Тип доступен"
14,  "CACHEFILENAMEAVAILABLE"
15,  "BEGINSYNCOPERATION"
16,  "ENDSYNCOPERATION"
17,  "BEGINUPLOADDATA"
18,  "UPLOADINGDATA"
19,  "ENDUPLOADDATA"
20,  "PROTOCOLCLASSID"
21,  "ENCODING"
22,  "VERIFIEDMIMETYPEAVAILABLE"
23,  "CLASSINSTALLLOCATION"
24,  "DECODING"
25,  "LOADINGMIMEHANDLER"
26,  "CONTENTDISPOSITIONATTACH"
27,  "FILTERREPORTMIMETYPE"
28,  "CLSIDCANINSTANTIATE"
29,  "IUNKNOWNAVAILABLE"
30,  "DIRECTBIND"
31,  "RAWMIMETYPE"
32,  "PROXYDETECTING"
33,  "ACCEPTRANGES"
34,  "COOKIE_SENT"
35,  "COMPACT_POLICY_RECEIVED"
36,  "COOKIE_SUPPRESSED"
37,  "COOKIE_STATE_UNKNOWN"
38,  "COOKIE_STATE_ACCEPT"
39,  "COOKIE_STATE_REJECT"
40,  "COOKIE_STATE_PROMPT"
41,  "COOKIE_STATE_LEASH"
42,  "COOKIE_STATE_DOWNGRADE"
43,  "POLICY_HREF"
44,  "P3P_HEADER"
45,  "SESSION_COOKIE_RECEIVED"
46,  "PERSISTENT_COOKIE_RECEIVED"
47,  "SESSION_COOKIES_ALLOWED"
48,  "CACHECONTROL"
49,  "CONTENTDISPOSITIONFILENAME"
50,  "MIMETEXTPLAINMISMATCH"
51,  "PUBLISHERAVAILABLE"
52,  "DISPLAYNAMEAVAILABLE"
}